/* 公用about_title */
.about_title {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 2px 4px #333;
    font-weight: 600;
    padding-top: 82px;
}

.about {
    width: 100%;
    height: auto;
}

.about .about_content {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px 0;
    box-sizing: border-box;
}

.about_left {
    width: 600px;
    margin-right: 30px;
}

.about_left span {
    width: 100%;
    display: block;
    line-height: 50px;
    text-align: left;
    color: var(--color);
    font-size: 40px;
    margin: 20px 0;
}

.about_left p {
    width: 100%;
    display: block;
    line-height: 30px;
    text-align: left;
    text-indent: 2em;
    color: #333;
}

.about_right {
    width: calc(100% - 630px);
    height: 100%;
}

.about_right video {
    width: auto;
    height: 100%;
    border-radius: 10px;
}


.course {
    width: 100%;
    height: auto;
}

.course .course_title {
    width: 100%;
    height: 316px;
    background: url('../images/about_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-shadow: 0 2px 4px #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_content .event_zi {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    line-height: 36px;
    color: #222222;
    letter-spacing: 3px;
    text-indent: 2em;
}

.course_list {
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 0 30px 0;
}

.course_list .course_list_xian {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    background: -webkit-linear-gradient(to top, rgb(0, 0, 0, 0.0) 0%, rgb(0, 0, 0, 0.01) 5%, #c4c6db 15%, #c4c6db 100%);
    background: -o-linear-gradient(to top, rgb(0, 0, 0, 0.0) 0%, rgb(0, 0, 0, 0.01) 5%, #c4c6db 15%, #c4c6db 100%);
    background: -moz-linear-gradient(to top, rgb(0, 0, 0, 0.0) 0%, rgb(0, 0, 0, 0.01) 5%, #c4c6db 15%, #c4c6db 100%);
    background: linear-gradient(to top, rgb(0, 0, 0, 0.0) 0%, rgb(0, 0, 0, 0.01) 5%, #c4c6db 15%, #c4c6db 100%);
}

.course_list ul li {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.course_list ul li:nth-child(even) {
    padding-right: 50%;
}

.course_list ul li:nth-child(odd) {
    justify-content: flex-start;
    padding-left: 50%;
}

.course_list ul li:nth-child(even) i {
    width: 157px;
    height: 92px;
    position: absolute;
    background: url('../images/course_left.png') no-repeat top center;
    background-size: 100% 100%;
    left: calc(50% - 131px);
    padding-right: 20px;
    text-align: right;
}

.course_list ul li:nth-child(odd) i {
    width: 157px;
    height: 92px;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 45px);
    background: url('../images/course_right.png') no-repeat top center;
    background-size: 100% 100%;
    padding-left: 20px;
    text-align: left;
}

.course_list ul li:nth-child(even) .sj_nr {
    width: calc(100% - 140px);
    margin-right: 160px;
    float: right;
    text-align: right;
}

.course_list ul li:nth-child(odd) .sj_nr {
    width: calc(100% - 140px);
    margin-left: 160px;
    float: left;
}

.course_list ul li i {
    display: inline-block;
    line-height: 92px;
    font-size: 22px;
    color: #fff;
}

.course_list ul li .sj_nr {
    margin-top: 26px;
}

.sj_nr span {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    color: #222222;
    letter-spacing: 3px;
}

.sj_nr img {
    width: 315px;
    margin-top: 20px;
}


/* 资质荣誉 */
.hornor_z {
    position: relative;
}

.hornor_content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px 0;
    box-sizing: border-box;
}

.hornor {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.hornor ul {
    width: 100%;
    height: 100%;
}

.hornor .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: 300ms;
    transform: scale(0.8);
}

.hornor .swiper-slide img {
    width: 100%;
    height: auto;
}

.hornor .swiper-slide span {
    position: absolute;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #007aff;
    width: 1200px;
    margin: 0 auto;
}

.hornor .swiper-slide .el-image {
    overflow: auto;
    transform: scale(0.8);
}

.hornor .swiper-slide-active .el-image,
.hornor .swiper-slide-duplicate-active .el-image {
    transform: scale(1);
}

.hornor_content .swiper-button-next::after,
.hornor_content .swiper-button-prev::after {
    display: none !important;
}

.hornor_z .iconfont {
    font-size: 30px;
}

.hornor_z .button-next {
    right: calc((100% - 1200px) / 2 - 20px);
}

.hornor_z .button-prev {
    left: calc((100% - 1200px) / 2 - 20px);
}


/* 合作客户 */
.connection_content {
    width: 100%;
    height: auto;
}

.connection_content ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.connection_content ul li {
    width: 280px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.connection_content ul li:hover {
    box-shadow: var(--box-shadow-active);
}

.connection_content ul li img {
    height: 100%;
    width: auto;
}

/* 核心技术 */
.core_content {
    width: 100%;
    height: auto;
}

.core_content ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: left;
    margin-top: -20px;
}

.core_content ul li {
    width: 380px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    box-shadow: var(--box-shadow);
    margin-top: 30px;
    margin-right: 30px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px;
}

.core_content ul li:nth-child(3n) {
    margin-right: 0px;
}

.core_content ul li:hover {
    box-shadow: var(--box-shadow-active);
    transform: scale(1.05);
}

.core_content ul li .core_img {
    width: 150px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.core_img img {
    width: auto;
    height: 100%;
}

.core_content ul li .core_cont {
    width: calc(100% - 150px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    align-content: flex-start;
}

.core_cont .core_title {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: block;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    margin-bottom: 20px;
}

.core_cont p {
    width: 100%;
    height: 60px;
    line-height: 20px;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.core_cont .el-button {
    padding: 0 15px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 100px;
}

/* 新闻 */
.new_content {
    width: 100%;
    height: auto;
}

.new_content ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: left;
    margin-top: -20px;
}

.new_content ul li {
    width: 380px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: var(--box-shadow);
    margin-top: 30px;
    margin-right: 30px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px;
}

.new_content ul li:nth-child(3n) {
    margin-right: 0px;
}

.new_content ul li:hover {
    box-shadow: var(--box-shadow-active);
    transform: scale(1.05);
    background: var(--color);
    color: #fff;
}

.new_content ul li .new_img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new_img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.new_content ul li .new_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
    box-sizing: border-box;
    align-content: flex-start;
}

.new_cont .new_title {
    width: 100%;
    height: 50px;
    line-height: 25px;
    display: block;
    text-align: left;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.new_cont i {
    width: 100%;
    height: auto;
    line-height: 25px;
    display: block;
    font-size: 14px;
    text-align: right;
}

.new_content .new_none {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #434343;
}


.el-pagination {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 80px;
    float: left;
}

/* 详情 */
.new_detail_cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.new_detail_cont .new_detail_left {
    width: calc(100% - 450px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.new_detail_left p,
.new_detail_left span,
.new_detail_img {
    width: 100%;
}

.new_detail_cont .new_detail_right {
    width: 410px;
    height: auto;
    margin-top: 100px;
}

.new_detail_list_title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
}

.new_detail_list_title p {
    width: 4px;
    height: 20px;
    background: var(--color);
    margin-right: 5px;
}

.new_detail_list_nr ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: left;
}

.new_detail_list_nr ul li {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;
}

.new_detail_list_nr ul li .new_d_img {
    width: 120px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.new_d_img img {
    width: auto;
    height: 100%;
}

.new_detail_list_nr ul li div {
    width: calc(100% - 120px);
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 20px;
    transition: all 0.3s;
}

.new_detail_list_nr ul li:hover img,
.new_detail_list_nr ul li:hover div {
    transform: scale(1.03);
}

/* 联系我们 */
.contact_content {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.contact_content .contact_left {
    width: calc(42% - 50px);
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact_left::-webkit-scrollbar {
    width: 0 !important
}

.contact_left ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.contact_left ul li {
    width: 98%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.contact_left ul li:hover {
    background: var(--color);
    box-shadow: none;
    color: #fff;
}

.contact_left ul li span {
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}

.contact_left ul li p {
    line-height: 20px;
    margin-top: 5px;
}

.contact_left ul li .left_ts {
    height: 30px;
    display: block;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.left_ts i {
    margin-right: 5px;
    font-size: 18px;
}

.contact_content .contact_right {
    width: 58%;
    height: auto;
}

.contact_right #map {
    width: 100%;
    height: 500px;
}

/* 义源公益 */
.charity_content {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.charity_content ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.charity_content ul li {
    width: 100%;
    height: auto;
    align-content: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
}

.charity_content ul li:first-child {
    align-items: center;
    margin: 50px 0;
}

.charity_content ul li:first-child .charity_title {
    display: none;
}

.charity_content ul li:first-child span {
    font-size: 25px;
    font-weight: 600;
}

.charity_content ul li .charity_title {
    font-size: 25px;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
}

.charity_content ul li:nth-child(even) .charity_left {
    order: 2;
}

.charity_content ul li:nth-child(even) .charity_right {
    order: 1;
}

.charity_title::after {
    content: '';
    width: 15px;
    height: 15px;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
}

.charity_title::before {
    content: '';
    width: 15px;
    height: 15px;
    background: #ddd;
    position: absolute;
    bottom: 0;
    right: 0;
}

.charity_left,
.charity_right {
    width: 45%;
    height: auto;
}

.charity_left img,
.charity_left video,
.charity_right img,
.charity_right video {
    width: 100%;
    height: auto;
}

.charity_left {
    width: 45%;
    height: auto;
}

.charity_left p {
    display: flex;
    align-content: flex-start;
    padding: 30px 0;
    text-indent: 2em;
}

/* 工程案例 */
.case_title {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    box-sizing: border-box;
}

.case_title .case_search {
    width: 550px;
    height: 40px;
}

.case_search .el-select {
    width: 120px;
}

.case_search .el-input-group__append {
    background: var(--color);
    border: 1px solid var(--color);
    color: #fff;
}

.case_content {
    width: 100%;
    height: auto;
}

.case_content ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    float: left;
    margin-top: -20px;
}

.case_content ul li {
    width: 580px;
    height: 195px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    box-shadow: var(--box-shadow);
    margin-top: 40px;
    margin-right: 40px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px;
}

.case_content ul li:nth-child(even) {
    margin-right: 0px;
}

.case_content ul li:hover {
    box-shadow: var(--box-shadow-active);
    transform: scale(1.05);
}

.case_content ul li .case_img {
    width: 250px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.case_img img {
    width: auto;
    height: 100%;
}

.case_content ul li .case_cont {
    width: calc(100% - 250px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    align-content: flex-start;
}

.case_cont .case_cont_title {
    width: 100%;
    height: 25px;
    line-height: 25px;
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    margin-bottom: 20px;
}

.case_cont p {
    width: 100%;
    height: 60px;
    line-height: 20px;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
    color: #666;
}

.case_cont .case_cont_row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 知识产权 */
.index_cont_nr .intellectual_title {
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    color: #909090;
    display: inline-block;
    letter-spacing: 1px;
    margin: 20px 0 50px 0;
}

.intellectual_title ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intellectual_title ul li {
    width: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 38px;
    padding: 0 20px;
    border: 1px solid #cecece;
    box-sizing: border-box;
    margin-left: 30px;
    font-size: 16px;
    color: #5379b2;
    border-radius: 3px;
}

.intellectual_title ul li.active,
.intellectual_title ul li:hover {
    background: var(--color);
    color: #fff;
    border: 1px solid var(--color);
    box-shadow: 0 0 3px rgb(30 115 241 / 50%);
}

.intellectual_title ul li i {
    margin-left: 5px;
    color: #b7c9d4;
}

.intellectual_title ul li.active i,
.intellectual_title ul li:hover i {
    color: #fff;
}

.intellectual_content {
    width: 100%;
    height: auto;
}

.intellectual_content ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    float: left;
    margin-top: -30px;
}

.intellectual_content ul li {
    width: 380px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: var(--box-shadow);
    margin-top: 30px;
    margin-right: 30px;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

.intellectual_content ul li:nth-child(3n) {
    margin-right: 0px;
}

.intellectual_content ul li:hover {
    box-shadow: var(--box-shadow-active);
    transform: scale(1.05);
}

.intellectual_content ul li .intellectual_img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intellectual_img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.intellectual_content ul li .intellectual_cont {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
    box-sizing: border-box;
    align-content: flex-start;
}

/* 产品展示 */
.intellectual_menu {
    padding: 30px 0 !important;
    box-sizing: border-box;
}

.intellectual_menu .intellectual_title {
    margin: 30px 0 !important;
}

.product {
    background: #f1f1f1;
}

.product:nth-child(even) {
    background: #fff;
}

.product_content {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.product_content ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product_content ul li {
    width: 100%;
    height: auto;
    align-content: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
}

.product_content ul li .index_title {
    margin: 30px 0;
}

.product_content ul li .index_title span {
    font-weight: 500 !important;
    font-size: 30px !important;
}

.product_content ul li:first-child {
    align-items: center;
}

.product_content ul li:first-child .charity_title {
    display: none;
}

.product_content ul li:first-child span {
    font-size: 25px;
    font-weight: 600;
}

.product_content ul li:nth-child(even) .product_left {
    order: 2;
}

.product_content ul li:nth-child(even) .product_right {
    order: 1;
}

.product_left,
.product_right {
    width: 45%;
    height: auto;
}

.product_left img,
.product_left video,
.product_right img,
.product_right video {
    width: 100%;
    height: auto;
}

.product_left {
    width: 45%;
    height: auto;
}

.product_left p {
    display: flex;
    align-content: flex-start;
    padding: 30px 0;
    text-indent: 2em;
}

.purchase {
    width: 100%;
    height: auto;
    background: #f1f1f1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    box-sizing: border-box;
}

.purchase img {
    width: auto;
    height: 65px;
}

.purchase p {
    font-size: 1.2rem;
    color: #666;
}

.purchase p span {
    margin-left: 20px;
}

.purchase .el-button {
    border-radius: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 18px;
    background: var(--color);
    box-shadow: var(--box-shadow);
}