/* banner */
.banner {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.banner ul {
    width: 100%;
    height: 100%;
}

.banner .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.banner .swiper-slide img {
    width: 100%;
    height: auto;
}

.banner .swiper-slide span {
    position: absolute;
    font-size: 35px;
    color: #fff;
    text-shadow: 0 0 5px #007aff;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.index_cont_nr .project_content {
    width: 100%;
    height: 500px;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px 0;
}

.project_content .project_content_list {
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project_content .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-right: 10px;
}

.project_content .item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 10px;
    margin-left: 10px;
}

.project_content .item3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.project_content .item4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-left: 10px;
    margin-top: 10px;
}

.project_content_list img {
    width: 100%;
    height: 100%;
}

.project_cont {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.project_cont .project_cont_span {
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.project_cont p {
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.project_cont .el-button {
    height: 40px;
    border-radius: 50px;
    background: var(--color);
    border-color: var(--color);
    display: flex;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;
}

.project_cont .el-button span {
    color: #fff;
    font-size: 14px;
}

.project_cont .el-button span i {
    margin-left: 10px;
    margin-right: 0;
}

.project_cont .el-button:hover,
.project_cont .el-button:focus {
    background: var(--color);
    border-color: var(--color);
}

.project_content_list:hover .project_cont {
    bottom: 30px;
}

.project_content_list img {
    transition: all 0.3s ease;
}

.project_content_list:hover img {
    transform: scale(1.1);
}

/* 优势特点 */
.superiority {
    width: 100%;
    background: #f1f1f1;
    display: flex;
}

.superiority_content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.superiority_content_list {
    width: 200px;
    height: 300px;
    color: #434343;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s;
}

.superiority_content_list i {
    font-size: 50px;
    margin: 30px 0;
}

.superiority_content_list span,
.superiority_content_list p {
    width: 100%;
    text-align: left;
}

.superiority_content_list span {
    text-align: center;
    margin: 20px 0;
}

.superiority_content_list:hover {
    background: var(--color);
    color: #fff;
}

/* 新闻动态 */
.index_cont_nr .new_content {
    width: 100%;
    height: 300px;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px 0;
}

.new_content .new_content_list {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.2s;
    padding: 0 10px;
    box-sizing: border-box;
}

.new_content .new1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-right: 20px;
    border-bottom: 0;
    padding: 0;
}

.new_content .new2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 0;
    padding: 0;
}

.new_content .new3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    border-top: 1px solid #ccc;
}

.new_content .new4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-top: 10px;
}

.new_content .new5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-top: 10px;
}

.new_content .new6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-bottom: 10px;
    margin-left: 20px;
    padding-top: 10px;
}

.new_content .new7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-left: 20px;
    padding-top: 10px;
}

.new_content_list .new_img {
    width: 100%;
    height: calc(100% - 35px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new_img img {
    width: auto;
    height: 100%;
}

.new_content_list .new_cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_cont_zi {
    width: calc(100% - 60px);
    height: 35px;
    line-height: 35px;
    display: block;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.new1,
.new2 {
    transform: scale(0.98);
}

.new1 .new_cont_zi,
.new2 .new_cont_zi {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.new1:hover,
.new2:hover {
    transform: scale(1);
}

.new_content_list:hover {
    background: #007aff;
    color: #fff;
}

.new_an {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0;
}

.new_an .el-button {
    border-radius: 100px;
    padding: 0 30px;
    height: 40px;
}

/* 合作伙伴 */
.partner {
    width: 100%;
    height: auto;
    background: #f5f5f5;
}

.partner .partner_content {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
}

.partner_content .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.partner_cont {
    width: 280px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    background: #fff;
}

.partner_cont img {
    height: 100%;
    width: auto;
}